<div class = "main-contenair" >
  <div class="row  no-flex-rwap" >
    <div class="card bg-header {{menu[0]}} mr-2" >
      <div class="col" >
        <div class="card mt-3 mb-3 border-non">
          <button class="btn text-gras " (click)="dimMenu()">
            <h1> <i class="fas fa-bars color-vert"></i></h1>

          </button>
          <h3 class="text-center  "  [hidden]="menu[1]"> appli name</h3 >
        </div>
        <div  [hidden]="menu[1]"> <app-menu></app-menu></div>

      </div>
    </div>
    <div class=" card {{menu[2]}} pl-0 pr-0 background-gry border-non"  >
      <div class="col pl-0 pr-0 d-flex flex-column justify-content-between" >
        <div class="card p-2 mb-2 bg-header {{head[0]}} " >
          <app-header (onclick)="dimHid()"></app-header>
        </div>
        <div class="card mb-2 min-height-body positision-relative ">
          <router-outlet></router-outlet>

        </div>
        <div class="card min-height-60" >
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>

