<div class=" row m-3" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-5">
    <h3> Ajout durée d'activité physique</h3>
  </div>
  <div class="col-md-3">
    <select class="form-select m-1" aria-label="Default select example">
      <option value="-1">-- Réference: --</option>
      <optgroup label="Dîner">
        <option>Après dîner</option>
        <option>Avant dîner</option>
      </optgroup>
      <optgroup label="Peit-dejeuner">
        <option>Avant petit-dejeuner</option>
        <option>Après prtit-dejeuner</option>
      </optgroup>
      <optgroup label="Dejeuner">
        <option>Avant dejeuner</option>
        <option>Après dejeuner</option>
      </optgroup>
    </select>
  </div>
  <div class="col-md-2">
    <input class="form-control form-control-sm m-1 p-2" type="date" placeholder="" aria-label=".form-control-sm example">
  </div>
  <div class="col-md-2">
    <input class="form-control form-control-sm m-1 p-2" type="time" placeholder="" aria-label=".form-control-sm example">
  </div>
   <div class="row mt-5">
     <div class="col-md-3">
       <div class="form-check">
         <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
         <label class="form-check-label" for="flexRadioDefault1">
           Actif
         </label>
       </div>
     </div>
     <div class="col-md-3 ">
       <div class="form-check">
         <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
         <label class="form-check-label" for="flexRadioDefault2">
           Passif
         </label>
       </div>
     </div>
   </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <input class="form-control form-control-sm m-1 p-2" type="number" placeholder="Durée en minute" aria-label=".form-control-sm example">
    </div>
  </div>
  <button class="btn btn-primary m-3 mt-3 p-2" type="button">
    <i class="fa fa-check"></i>
    valider </button>
</div>
