<div class=" accordion  " id="accordionExampleM" *ngIf="role">
  <div class=" accordion-item  " *ngFor="let  menu  of menuProperties">
    <h2 class="card-header accordion-header  " >
      <button class=" accordion-button no-flex-rwap  bg-white rounded text-dark " type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOneM'+ menu.id" aria-expanded="true" aria-controls="collapseOneM">
        <a href="javascript: void(0);"(click)="navigate(menu.url)" class="text-deco ">
          <i class="{{menu.icone}} color-vert"></i>&nbsp;&nbsp;
          <h6> {{menu.titre }}</h6>
        </a>
      </button>
    </h2>
    <div id="collapseOneM{{menu.id}}" class=" accordion-collapse collapse" data-bs-parent="#accordionExampleM">
<!--      <div class="accordion-body ">-->

<!--        <ul class="list-group list-group-flush ">-->
<!--          <li class="list-group-item " *ngFor="let  smenu of menu.sousMenu" >-->
<!--            <a href="javascript: void(0);"(click)="navigate(smenu.url)" class="text-deco ">-->
<!--              <i class="{{smenu.icone}} color-vert"></i>&nbsp;&nbsp;-->
<!--              <span> {{smenu.titre}}</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->

<!--      </div>-->
    </div>
  </div>

</div>

