<div class=" row m-3" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-5">
    <h3> Ajout glycemie</h3>
  </div>
  <div class="col-md-3">
    <select class="form-select m-1" aria-label="Default select example">
      <option value="-1">-- Réference: --</option>
      <optgroup label="Dîner">
        <option>Après dîner</option>
        <option>Avant dîner</option>
      </optgroup>
      <optgroup label="Peit-dejeuner">
        <option>Avant petit-dejeuner</option>
        <option>Après prtit-dejeuner</option>
      </optgroup>
      <optgroup label="Dejeuner">
        <option>Avant dejeuner</option>
        <option>Après dejeuner</option>
      </optgroup>
    </select>
  </div>
  <div class="col-md-2">
    <input class="form-control form-control-sm m-1 p-2" type="date" placeholder="" aria-label=".form-control-sm example">
  </div>
  <div class="col-md-2">
    <input class="form-control form-control-sm m-1 p-2" type="time" placeholder="" aria-label=".form-control-sm example">
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <input class="form-control form-control-sm m-1 p-2" type="number" placeholder="Glycemie en g/l" aria-label=".form-control-sm example">
    </div>
    <div class="col-md-4">
      <button class="btn shadow-sm m-1 p-2 parent" type="button">
        <img src="assets/pic.jpg" height="25px" width="50px"
             (mouseout)="mouseout(0)" (mouseenter)="moussenter(0)">
        <app-label
          position="bottom"
          msg="Si votre appareil est adapter a utiliser le Bluetooth. Vous pouvez jumeler afin d'éviter le saisie manuel"
          [isVisible]="isVisible[0]"
        ></app-label>
      </button>
    </div>
  </div>
  <button class="btn btn-primary m-3 mt-3 p-2" type="button">
    <i class="fa fa-check"></i>
    valider </button>
</div>
