<div class="row border-solide shadow-sm p-2 mb-3 bg-white rounded rounded d-flex ">
  <div class="col-md-2  mt-1 mb-1  ">
      <img src="assets/Artichaut.jpg" height="110" width="100px" >
  </div>
  <div class="col-md-4 mt-1 mb-1 flex-fill ">
    <div class="row">
      <div class="col flex-fill">
        <i class="bi bi-info-circle color-blue"> </i>&nbsp;Nom
      </div>
    </div>
    <div class="row">
      <div class="col flex-fill">
        <i class="bi bi-square-fill colr-blan-casse"></i>&nbsp;Glucide
      </div>
    </div>
    <div class="row">
      <div class="colf lex-fill ">
        <i class="bi bi-egg-fill color-b"> </i> &nbsp;Lipide
      </div>
    </div>
    <div class="row">
      <div class="col flex-fill">
        <i class="bi bi-egg-fried "> </i>&nbsp;Proteine
      </div>
    </div>
    <div class="row d-flex">
      <div class="col flex-fill">
       <i class="bi bi-droplet-half color-red"></i> &nbsp;Index glycemique
      </div>
    </div>
  </div>
<!--  Categoeir-->
  <div class="col-md-3  mt-1 mb-1 border-right ">
    <div class="row  d-flex">
      <div class="col flex-fill">
        <i class="bi bi-bookmark"> </i>&nbsp;Nom
      </div>
    </div>
    <div class="row d-flex">
      <div class="col flex-fill">
        <i class="bi bi-info-circle"> </i>&nbsp;Designation
      </div>
    </div>
  </div>
  <div class="col-md-3  mt-1 mb-1  ">
    <div class="row mt-4 ">

      <div class="col-md-3">
        <button class="btn btn-link color-vert"><i class="bi bi-pencil-fill"></i></button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-link color-red" ><i class="bi bi-trash3 "></i></button>
      </div>
      <div class="col-md-3">
        <!-- Button trigger modal -->
        <button class="btn btn-link "
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="This top tooltip is themed via CSS variables.">
          <i class="bi bi-list" data-bs-toggle="modal" data-bs-target="#exampleModal2"></i>
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-link color-vert"   (click)="nouvelAliment()" ><i class="fas fa-utensils"></i>

        </button>
      </div>
    </div>
  </div>
</div>



