

<div>
  <button class="btn">
    <h1> <i class="fas fa-plus-circle color-blue" data-bs-dismiss="modal" aria-label="Close"data-bs-toggle="modal" data-bs-target="#exampleModal2" ></i></h1>
  </button>
</div>
<div class="row border-solide shadow-sm p-2 mb-3 bg-white rounded rounded d-flex ">
  <div class="col-md-2  mt-1 mb-1  ">
    <img src="assets/Artichaut.jpg " class="rounded-circle m-1" width="100px" height="100px" >
    <span>500g</span>
  </div>
  <div class="col-md-4 mt-1 mb-1 flex-fill ">
    <div class="row">
      <div class="col flex-fill">
        <img src="assets/Artichaut.jpg " class="rounded-circle m-1" width="75px" height="75px" >
        <span>50g</span>
      </div>
    </div>

  </div>
  <!--  Categoeir-->
  <div class="col-md-3  mt-1 mb-1 border-right ">
    <div class="row  d-flex">
      <div class="col flex-fill">
        <img src="assets/Artichaut.jpg " class="rounded-circle m-1" width="50px" height="50px" >
        <span>25g</span>
      </div>
    </div>
  </div>  <div class="col-md-3  mt-1 mb-1 border-right ">
    <div class="row  d-flex">
      <div class="col flex-fill">

      </div>
    </div>
  </div>
  <div class="col-md-3  mt-1 mb-1  ">
    <div class="row mt-4 ">

      <div class="col-md-3">
        <button class="btn btn-link color-vert"><i class="bi bi-pencil-fill"></i></button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-link color-red" ><i class="bi bi-trash3 "></i></button>
      </div>
      <div class="col-md-3">
        <!-- Button trigger modal -->
        <button class="btn btn-link "
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="This top tooltip is themed via CSS variables.">
          <i class="bi bi-list" data-bs-toggle="modal" data-bs-target="#exampleModal2"></i>
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-link color-vert"   ><i class="fas fa-utensils"></i>

        </button>
      </div>
    </div>
  </div>
</div>



