<div class="col-md-12 card-body">

  <div class="row  p-0">
    <div class="col-md-8">
      <h3> listes aliment</h3>
    </div>
    <div class="col-md-4 text-end m-0">
      <app-bouton-action></app-bouton-action>
    </div>
  </div>
  <div class="row d-flex">
  <div >
    <app-detail-aliment></app-detail-aliment>
    <app-detail-aliment></app-detail-aliment>
    <app-detail-aliment></app-detail-aliment>
    <app-detail-aliment></app-detail-aliment>

  </div>



  </div>
  <div class="row  ">

      <app-pagination></app-pagination>


  </div>

</div>
