<div class="col-md-12 card-body">

  <div class="row  p-0">
    <div class="col-md-8">
      <h3><i class="fas fa-list-alt color-vert"></i>Listes aliment</h3>
    </div>
    <div class="col-md-4 text-end m-0">
      <app-bouton-action
        (onclick)="nouvelAliment()"
      [isAploadVisible]="false">
      </app-bouton-action>
    </div>
  </div>
  <hr/>
  <div class="row d-flex">
    <div style="max-height: 400px; overflow-y:scroll">
      <app-detail-aliment [isEatValide]="false"></app-detail-aliment>
      <app-detail-aliment></app-detail-aliment>
      <app-detail-aliment></app-detail-aliment>
      <app-detail-aliment></app-detail-aliment>
    </div>
  </div>
  <div class="row  ">
      <app-pagination></app-pagination>
  </div>
</div>


