.position-opsolute{

  position: absolute;
  width: 97%;
  height: 70%;
  top: 21%;
  left: 0;
  opacity: 95%;
  background: white;
  margin: 14px !important;
  margin-right: 10px;
}
.positision-relative{
  position: relative;

}
