<div class="row shadow-sm m-3" xmlns="http://www.w3.org/1999/html">
  <h1>Dossier suivi de patient</h1>
</div>
<div class="row shadow-sm m-3">
<table class="table ">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Mesure 1</th>
    <th scope="col">Date 1</th>
    <th scope="col">Mesure 2</th>
    <th scope="col">Date 2</th>
    <th scope="col">Min définis</th>
    <th scope="col">Max définis</th>
    <th scope="col">Alerte</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Glycémie</td>
    <td>2.3</td>
    <td>22/03/2023</td>
    <td>2.5</td>
    <td>22/04/2023</td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput1" >
    </td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput2" >
    </td>
    <td>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    </td>
  </tr>
  <tr>
    <td>Poids</td>
    <td>95 kg</td>
    <td>22/03/2023</td>
    <td>92 kg</td>
    <td>22/04/2023</td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput3" >
    </td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput4" >
    </td>
    <td>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled"checked>
    </td>
  </tr>
  <tr>
    <td>Sucre consommé</td>
    <td>14 g</td>
    <td>22/03/2023</td>
    <td>22 g</td>
    <td>22/04/2023</td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput5" >
    </td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput6" >
    </td>
    <td>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault2">
    </td>
  </tr>
  <tr>
    <td>Duree sport</td>
    <td>60 mn</td>
    <td>22/03/2023</td>
    <td>45 mn</td>
    <td>22/04/2023</td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput7" >
    </td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput8" >
    </td>
    <td>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
    </td>
  </tr>
  <tr>
    <td>Tension</td>
    <td>92/145</td>
    <td>22/03/2023</td>
    <td>90/138</td>
    <td>22/04/2023</td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput9" >
    </td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput110" >
    </td>
    <td>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault3">
    </td>
  </tr>
  <tr>
    <td>Hémoglobine glyquée</td>
    <td>7%</td>
    <td>22/03/2023</td>
    <td>7%</td>
    <td>22/04/2023</td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInpu12" >
    </td>
    <td>
      <input type="number" placeholder="Valeur max" class="border" id="exampleInput13" >
    </td>
    <td>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault4">
    </td>
  </tr>
  </tbody>
</table>
</div>
<div class="row mb-1 shadow-sm m-3">
    <div class="col-md-4 ">
      <div class="row">
        <div class="col border-right">
          <i class="fas fa-capsules"></i>&nbsp;  médicament 1
        </div>
      </div>
      <div class="row border-right">
        <div class="col flex-fill">
          <i class="fas fa-capsules"></i>&nbsp;  médicament 2
        </div>
      </div>
      <div class="row  mb-1  border-right">
        <div class="colf lex-fill ">
          <i class="fas fa-capsules"></i>&nbsp;  médicament 3
        </div>
      </div>

    </div>
    <!--  -->
    <div class="col-md-3   d-flex flex-column justify-content-center ">
      <div class="row  d-flex">
        <div class="col flex-fill">
          <i class="far fa-calendar-alt color-vert"></i>&nbsp; 23/02/2023
        </div>
      </div>
    </div>
</div><div class="row  shadow-sm m-3">
    <div class="col-md-4 ">
      <div class="row">
        <div class="col border-right">
          <i class="fas fa-capsules"></i>&nbsp;  médicament 1
        </div>
      </div>
      <div class="row border-right">
        <div class="col flex-fill">
          <i class="fas fa-capsules"></i>&nbsp;  médicament 2
        </div>
      </div>
      <div class="row mb-1  border-right">
        <div class="colf lex-fill ">
          <i class="fas fa-capsules"></i>&nbsp;  médicament 3
        </div>
      </div>

    </div>
    <!--  -->
    <div class="col-md-3   d-flex flex-column justify-content-center ">
      <div class="row  d-flex">
        <div class="col flex-fill">
          <i class="far fa-calendar-alt color-vert"></i>&nbsp; 24/02/2023
        </div>
      </div>
    </div>
</div>
