
<div class="container my-contener absolute " >
  <div class="card justify-content-center ">
    <div class="card-header text-center bg-header">
      <h4 >Changer mot de passe</h4>
    </div>
    <div class="card-body">
      {{pwdFormgroup.value | json}}
      <form [formGroup]="pwdFormgroup" (ngSubmit)="valide()">
        <div  id="collapseCode" class="m-3 accordion-collapse collapse show " data-bs-parent="#accordionRadio">


          <div class="mb-3 mt-3  p-1">
            <input  type="password" class="form-control" formControlName="motDepasse" placeholder="Nouveau mot de passe">
          </div>
          <div class="mb-3 mt-3  p-1">
            <input  type="password" class="form-control" formControlName="motDepasse1" placeholder="Confirmer mot de passe">
          </div>
          <div class="mb-3 mt-3  p-1"*ngIf="nomConforme">
            <span class="text-danger">Deux mot de passe different</span>
          </div>

          <div class="mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary m-1 " (click)="valide()" >
              <i class="fas fa-cog"></i>&nbsp;Valider
            </button>
          </div>
        </div>
      </form>
      <div class=" " style=" height: 100px; bottom: 20px" *ngIf="loading">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</div>
