
<div class="container my-contener absolute " >
  <div class="card justify-content-center ">
    <div class="card-header text-center bg-header">
      <h4 >Valider votre compte</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="codFormgroup" (ngSubmit)="frivCode()">
          <div  id="collapseCode" class="m-3 accordion-collapse collapse show " data-bs-parent="#accordionRadio">
            <div class="mb-3 bg-info p-3" style="opacity: 0.7; fill-opacity: 0">
              <span > Veuillez saisir le code validation envoyé sur votre mail. Veuillez ne pas oublier de verifier votre <span style="color:red;font-weight : bold">spam</span>. Il est possible de recevoir l'e-mail evec retard. </span>
            </div>
                {{msg}}
            <input  type="number" class="form-control" formControlName="code" placeholder="code validation" (keydown)="code()">
            <div class="mb-3 d-flex justify-content-end">
              <button type="button" class="btn btn-warning m-1 " (click)="renvoieCode()" >
                <i class="fas fa-cog"></i>&nbsp;Renvoyer nouveau code
              </button>
            </div>
          </div>
        </form>
      <div class=" " style=" height: 100px; bottom: 20px" *ngIf="loadin">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</div>


