<div class="row" id="filtreParent">
  <div class="col-md-2  " >
    <button  class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#filtre" aria-expanded="flase" aria-controls="filtre">
      <i class="bi bi-filter-square-fill color-vert"></i>&nbsp;&nbsp; Filter
    </button>

  </div>
  <div id ="filtre" class="col collapse mt-2" data-bs-parent="#filtreParent">

    <div class="form-check form-check-inline" >
      <input class="form-check-input"  type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Conseilés</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2"  >A limiter</label>
    </div>
  </div>
<hr/>
</div>
  <div class="row border-solide shadow-sm p-2 mb-3 bg-white rounded rounded d-flex ">
  <div class="col-md-3  mt-1 mb-1 border-right ">
    <img src="assets/Artichaut.jpg" height="90" width="100px" >
    <div class="row">
      <div class="col flex-fill">
        <h4>Acarchit</h4>
      </div>
    </div>
  </div>
  <div class="col-md-5 mt-1 mb-1 flex-fill border-right ">
    <div class="row">
      <div class="col flex-fill">
        <i class="bi bi-square-fill colr-blan-casse"></i>&nbsp;Glucide: 36g
      </div>
    </div>
    <div class="row">
      <div class="colf lex-fill ">
        <i class="fas fa-water color-brune"></i>&nbsp;Lipide: 40ml
      </div>
    </div>
    <div class="row">
      <div class="col flex-fill">
        <i class="bi bi-egg-fried color-vert "> </i>&nbsp;Proteine:  50g
      </div>
    </div>
    <div class="row d-flex">
      <div class="col flex-fill">
        <i class="bi bi-droplet-half color-red"></i> &nbsp;Index glycemique: 27g/100g
      </div>
    </div>
  </div>
  <!--  Categoeir-->

  <div class="col-md-4  mt-1 mb-1  ">
      <div class="col-md-6   text-end shadow-sm "data-bs-toggle="modal" data-bs-target="#exampleModal">
        <div class="row mt-4 ">
        <button class="btn m-1">
          <i class="fas fa-plus-circle color-blue"  ></i>&nbsp; Ajouter
        </button>
      </div>
    </div>
  </div>
</div>
