<div class="col  ">
  <div class="row text-center shadow-sm m-3">
        <h3>Mon suivi</h3>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div class= "clo-md-6  m-3  shadow-sm d-flex justify-content-center text-gras " style="height: 300px; width: 400px" >

      <div class="col-md-8 m-3  d-flex flex-column justify-content-center">
        <span> Vous êtes suivi par D.x</span>

      </div>
      <div class="col-md-2 m-3  d-flex flex-column justify-content-center">
           <h2> <input class="form-check-input" type="checkbox" role="switch" id="accepteSuivi" checked disabled > </h2>
      </div>
    </div>
    <div class="clo-md-6 m-3  shadow-sm d-flex  justify-content-center text-gras"  style="height: 300px; width: 400px">
      <div class="col-md-8 m-3 d-flex flex-column justify-content-center">
        <span>  <span class="color-vert">Activer</span>/<span class="color-red">désactiver</span>  votre suivi</span>
      </div>
      <div class="col-md-2 m-3 d-flex flex-column justify-content-center">
       <h2> <input class="form-check-input" type="checkbox" role="switch" id="activ_desac" checked > </h2>
      </div>
    </div>
  </div>
</div>


