<div class="container my-contener">
  <div class="card justify-content-center">
    <div class="card-header text-center">
     <h3> Se coonncter</h3>
      <div class="row">
      <a [routerLink]="['/inscription']"  class="btn shadow-sm text-end color-vert"><i class="bi bi-pen"></i>&nbsp;S'inscrire</a>
      </div>
    </div>
    <div class="card-body">
      <form  [formGroup]="loFormGroup" (ngSubmit)="loginok()">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" id="email" aria-describedby="emailHelp" formControlName="login">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <div class="mb-3 mt-3  p-1"*ngIf="mailInvalide">
          <span class="text-danger">Mail invalide</span>
        </div>
        <div class="mb-3 mt-3  p-1"*ngIf="formatIncorr">
          <span class="text-danger">Mail format invalide</span>
        </div>
        <div class="mb-3 mt-3  p-1"*ngIf=" notErr">
          <span class="text-danger">Désolé veuillez reesayer pus tard</span>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <a [routerLink]="['/password']"  class="btn shadow-sm"><i class="fas fa-spinner fa-spin"></i>&nbsp;Mot de pass oublié</a>
          <button (click)="loginok()" type="submit" class="btn btn-primary"><i class="bi bi-check2-all"></i>&nbsp;Se connecter</button>
<!--          <button  [routerLink]="['']"[queryParams]="{ role: 'admin' }" type="submit" class="btn btn-primary"><i class="bi bi-check2-all"></i>&nbsp;Se connecter</button>-->
        </div>
        <div class="row m-1 shadow-lg ">
          <button  type="submit" class="btn text-gras btn-warning " (click)="loginok()">
            <i class="fab fa-google-plus fa-spin"></i>&nbsp;google</button>
        </div>

      </form>
      <div class=" " style=" height: 100px; bottom: 20px" *ngIf="loading">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</div>

