<div class="container my-contener">
  <div class="card justify-content-center">
    <div class="card-header text-center">
     <h3> Se coonncter</h3>
      <div class="row">
      <a [routerLink]="['/inscription']"  class="btn shadow-sm text-end color-vert"><i class="bi bi-pen"></i>&nbsp;S'inscrire</a>
      </div>
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <a [routerLink]="['/password']"  class="btn shadow-sm"><i class="fas fa-spinner fa-spin"></i>&nbsp;Mot de pass oublié</a>
          <button  [routerLink]="['']" type="submit" class="btn btn-primary"><i class="bi bi-check2-all"></i>&nbsp;Se connecter</button>
        </div>
        <div class="row m-1 shadow-lg ">
          <button  type="submit" class="btn text-gras btn-warning "><i class="fab fa-google-plus fa-spin"></i>&nbsp;google</button>
        </div>

      </form>
    </div>
  </div>
</div>

