body{
  background-color: #eff2f5 !important;
}
.background-gry{
  background-color: #eff2f5 !important;
}
.border-non{
  border: none !important;
}
.min-height-60{
  height: 60px;
}

.color-red{
  color: red;
}
.color-blue{
  color: cornflowerblue;
}
.colr-blan-casse{
  color: wheat;
}
.color-blan{
  color: white;
}
.color-vert{
  color: green;
}
.colo-body{

  background-color: #eff2f5;
}

