body{
  background-color: #eff2f5 !important;
}
.background-gry{
  background-color: #eff2f5 !important;
}
.border-non{
  border: none !important;
}
.min-height-60{
  height: 60px;
}
.no-flex-rwap{
  flex-wrap: inherit !important;
}
.ml-2{
  margin-left: 2px;
}
.border-right{
  border-right: solid 1px ;
  border-color: lightgray;
}
.color-red{
  color: red;
}
.color-blue{
  color: cornflowerblue;
}
.colr-blan-casse{
  color: wheat;
}
.color-blan{
  color: white !important;
}
.color-vert{
  color: green;
}
.color-brune{
  color: chocolate;
}
.color-grise{
  color: dimgray;
}
.color-orange{
  color: gold !important;
}
.text-gras{
  font-weight: bold !important;
}

.colo-body{

  background-color: #eff2f5 !important;
}

.min-height-body{
  min-height: 600px;
}
.min-height-120{
  min-height: 120px;
}

//.multiple-shadow{
//
//
//  text-shadow: 0.3px 0.3px 0.02em #4d00d4, -0.4px -0.4px 0.1px #00ccff!important;
//  color: green!important;
//  font : 0.1px georgia serif !important;
//
//}
