
<div class="container my-contener absolute " >
  <div class="card justify-content-center ">
    <div class="card-header text-center bg-header">
      <h4 >Recuperer votre compte</h4>
    </div>
    <div class="card-body">

      <form [formGroup]="mailFormgroup" (ngSubmit)="checkMail()">
        <div  id="collapseCode" class="m-3 accordion-collapse collapse show " data-bs-parent="#accordionRadio">

          <input  type="text" class="form-control  " formControlName="mail" placeholder="votre email">

          <div class="mb-3 mt-3  p-1"*ngIf="mailInvalide">
            <span class="text-danger">Mail invalide</span>
          </div>
          <div class="mb-3 mt-3  p-1"*ngIf="formatIncorr">
            <span class="text-danger">Mail format invalide</span>
          </div>
          <div class="mb-3 mt-3  p-1"*ngIf=" notErr">
            <span class="text-danger">Désolé veuillez reesayer pus tard</span>
          </div>

          <div class="mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary m-1 " (click)="checkMail()" >
              <i class="fas fa-cog"></i>&nbsp;valider
            </button>
          </div>
        </div>
      </form>
      <div class=" " style=" height: 100px; bottom: 20px" *ngIf="loading">
        <app-loading></app-loading>
      </div>
    </div>
  </div>
</div>


