<div class="container my-contener">
  <div class="d-flex justify-content-center">

    <div class="card-body">
      <div class="row text-center shadow-sm m-3">
        <h3>Suivi d'un nouveau patient</h3>
      </div>
      <form>
        <div class="m-3 bg-info p-3"style="opacity: 0.7; fill-opacity: 0"  >
          <span > Veuillez saisir le code de pateint. si vous en avez pas,  veillez demander à votre patient </span>
        </div>

        <div class="m-3" >
          <input type="number" id="codetxt" class="form-control text-center " placeholder="code patient" aria-describedby="emailHelp">
        </div>
        <div class="m-3 d-flex justify-content-between">
          <button  type="button" class="btn btn-primary"><i class="bi bi-check2-all" ></i>&nbsp;valider</button>
        </div>

      </form>
    </div>
  </div>
</div>

